<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initialscale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <title>Greeter</title> 
    </head> 
    <body> 
        <div>
            <h1>현재 인사말:{{greeting}}</h1>
        </div>
        <div>
            <form action="/" method="post">
            <p>변경할 인사말: <input type="text" name ="greeting" /></p>
            <p><input type="submit" value="제출"/></p>
        </form>
        </div>
         
    </body> 
</html>